@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Coral+Pixels&family=Doto:wght@100..900&family=Foldit:wght@100..900&family=Freckle+Face&family=Gamja+Flower&family=Handjet:wght@100..900&family=Jersey+10&family=Love+Ya+Like+A+Sister&family=Micro+5+Charted&family=Moo+Lah+Lah&family=Rubik+Pixels&family=Schoolbell&family=Silkscreen:wght@400;700&family=Story+Script&family=Wallpoet&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #9963d8;
  color: #3c10b5;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: "Silkscreen";
  font-size: 35px;
}

p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;
  font-family: "Jersey 10";
}

#life {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
  font-family: "Jersey 10";
  color: #3c10b5;
}

.healthBar {
  width: 40%;
  max-width: 520px;
  height: 16px;
  border: 2px solid #3c10b5;
  border-radius: 8px;
  background: #fff;
  margin: 16px auto 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.healthFill {
  height: 100%;
  background: #eb23ca;
}

#characterPlace {
  display: block;
  width: 100vw;
  height: auto;
  margin: auto;
  position: relative;
}

#characterImg {
  display: block;
  margin: auto;
  width: 30%;
  height: auto;
  max-width: 400px;
}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#gridContainer > .react-draggable {
  display: grid;
  place-items: center;
}

#gridContainer img {
  display: block;
  max-width: 80%;
  height: auto;
}

#item1 {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item2 {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item3 {
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item4 {
  grid-column: 4/5;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item5 {
  grid-column: 5/6;
  width: 100%;
  height: 100%;
  margin: auto;
}
#item6 {
  grid-column: 6/7;
  width: 100%;
  height: 100%;
  margin: auto;
}
