/* body {
  font-family: "Arial", sans-serif;
  background-color: #954e4e;
  margin: 0;
  padding: 0;
} */
#gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  /* padding: 10px; */
}
