html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

#characterPlace {
  display: block;
  width: 100vw;
  height: auto;
  margin: auto;
}

#characterImg {
  display: block;
  margin: auto;
  /* padding-top: 10vh; */
  width: 30%;
  height: auto;
  max-width: 500px;
}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  width: 100%;
  height: auto;
  position: static;
  bottom: auto;
}

#item1 {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item2 {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item3 {
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item4 {
  grid-column: 4/5;
  width: 100%;
  height: 100%;
  margin: auto;
}

#item5 {
  grid-column: 5/6;
  width: 100%;
  height: 100%;
  margin: auto;
}
#item6 {
  grid-column: 6/7;
  width: 100%;
  height: 100%;
  margin: auto;
}
